{% extends "form.html" %}

{% block content %}
<form method="POST" class="task-form">
    <legend>Новая задача</legend>
    <fieldset>
        {% csrf_token %}
        <textarea name="task" placeholder="Описание задачи">{% if form.task.value %}{{ form.task.value }}{% endif %}</textarea>
        <button class="btn btn-primary" type="submit">Добавить</button>
    </fieldset>
</form>
{% endblock %}
