{% extends "todo/page.html" %}

{% block pageheader %}
<div class="row">
<div class="pager">
    <ul>
        <li class="previous{% if not previous_month %} disabled{% endif %}"><a href="{% if previous_month %}?year={{ previous_month.year }}&month={{ previous_month.month }}{% else %}#{% endif %}">Предыдущий месяц</a></li>
        <li class="next{% if not next_month %} disabled{% endif %}"><a href="{% if next_month %}?year={{ next_month.year }}&month={{ next_month.month }}{% else %}#{% endif %}">Следующий месяц</a></li>
    </ul>
</div>
</div>
{% endblock %}
